* {
  margin: 0;
  padding: 0;
}

body, html, #wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.password {
  -webkit-text-security: disc;
}

#wrapper {
  padding: 0% 10% 0% 10%;
}
.header {
  color: gray;
  font-style: italic;
}

.header .fio {
  font-size: 20px;
}

.header .group {
  font-size: 15px;
}
.form {
  margin-top: 10px;
  width: 400px;
}
.buttons {
  margin: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;

  button:not(:first-child) {
    margin-left: 10px !important;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: white;
  }
}

@import "register";