html  {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header {
    color: gray;
    font-style: italic;
}
body {
    width: 100%;
    height: 80%;
}

input[type="text"] {
    width: 40px;
    height: 20px;
    vertical-align: baseline;
}

.header .fio {
    font-size: 20px;
}

.header .group {
    font-size: 15px;
}

.plan {
    width: 215px;
    height: 215px;
}
.plan img {
    width: 215px;
    height: 215px;
}
.point {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.input-label {
    display: inline-block;
    vertical-align: middle;
}
.input-container {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    vertical-align: middle;
}
.input-container > div {
    width: 30px;
    display: inline-block;
}
.input-container > span {
    margin-left: 10px;
}
.controls > * {
    margin: 20px 0 20px 10px;
}

.y-cord table {
    margin-top: 10px;
}

.button {
    width: 100px;
    height: 20px;
    background-color: #0ba51e;
    color: white;
    border-radius: 10%;
    border: 1px #053c05 solid;
    font-size: 12px;
}

.back {
    margin-left: 1%;
}

.digital-watch {
    margin-top: 10px;
    font-size: 19px;
    color: gray;
    font-family: "Times New Roman";
}